<footer class="pt-16 pb-16">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center pb-8 border-bottom">
      <a href="#"><img src="assets/images/logo.svg" alt="URBNSTEP" /></a>
      <ul class="d-flex fw-medium">
        <li><a href="#" class="pt-3 pb-3 me-10">商品列表</a></li>
        <li><a href="#" class="pt-3 pb-3">品牌故事</a></li>
      </ul>
    </div>
    <div class="text-center text-sm text-secondary pt-8">
      <p class="mb-1">Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>
