<ol class="pagination d-flex">
    <li><a href="#" class="pagination__link disabled me-1"><i class="bi bi-chevron-left"></i></a></li>
    <li><a href="#" class="pagination__link active">1</a></li>
    <li><a href="#" class="pagination__link">2</a></li>
    <li><a href="#" class="pagination__link">3</a></li>
    <li><a href="#" class="pagination__link">...</a></li>
    <li><a href="#" class="pagination__link">10</a></li>
    <li><a href="#" class="pagination__link ms-1"><i class="bi bi-chevron-right"></i></a></li>
</ol>