

/* variables */


/* reset */


/* utils */


/* components */
.link-underline {
  position: relative;
  padding-bottom: 4px;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  background: var(--primary-400);
  height: 1px;
  width: 100%;
}

/* pages */
.brand-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
  background-size: cover;
  height: 400px;
}

.brand-article .quote {
  max-width: 856px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  background: var(--primary-100);
}

.brand-article .photo {
  max-width: 1076px;
  margin: 0 auto;
}

.brand-article .content {
  max-width: 856px;
  margin: 0 auto;
}

.brand-article .content-border {
  border-bottom: solid 1px #dee2e6;
}

.brand-article .article-link {
  padding: 8px 0;
  transition: opacity 0.5s;
}

.brand-article .article-link:hover {
  opacity: 0.8;
}

.time-deco {
  position: relative;
  display: inline-block;
  width: 48px;
}

.time-deco::before {
  content: "";
  position: absolute;
  right: 0;
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #212529;
}

.border-deco {
  border-left: solid 3px #dee2e6;
}
